
/*
colors:
red 3D13CB
pink #FF46ED
gray 1 #EFEFEF
gray 2 #E0DFDF
gray 3 #ABABAB
black-non-black #2B2B2B

NEW ONES
blue: #3D13CB
turquoise: #00EAE6
red: #DA291C
gray: #FFFFFF
*/



/*! ------------------------------------------ FONTS ------------------------------------------ */

/*! -------------------ABCCamera */

@font-face {
	font-family: 'ABCCamera-Regular';
	src: url('../font/ABCCamera-Regular-Trial.woff');

}

@font-face {
	font-family: 'ABCCamera-Medium';
	src: url('../font/ABCCamera-Medium-Trial.woff');

}

@font-face {
	font-family: 'ABCCamera-Regular';
	src: url('../font/ABCCamera-Regular-Trial.woff2') format('woff2'),
	url('../font/ABCCamera-Regular-Trial.woff') format('woff');
}



/*! -------------------SuisseIntl */

@font-face {
	font-family: 'SuisseIntl-Light';
	src: url('../font/suisseintl-light-webfont.woff');
}

@font-face {
	font-family: 'SuisseIntl-Regular';
	src: url('../font/suisseintl-regular-webfont.woff');
}

@font-face {
	font-family: 'SuisseIntl-Book';
	src: url('../font/suisseintl-book-webfont.woff');
}

@font-face {
	font-family: 'SuisseIntl-Medium';
	src: url('../font/suisseintl-medium-webfont.woff');
}

@font-face {
	font-family: 'SuisseIntl-Bold';
	src: url('../font/suisseintl-bold-webfont.woff');
}

@font-face {
	font-family: 'SuisseIntl';
	src: url('../font/suisseintl-light-webfont.woff2') format('woff2'),
	url('../font/suisseintl-light-webfont.woff') format('woff'),
	url('../font/suisseintl-regular-webfont.woff2') format('woff2'),
	url('../font/suisseintl-regular-webfont.woff') format('woff'),
	url('../font/suisseintl-book-webfont.woff2') format('woff2'),
	url('../font/suisseintl-book-webfont.woff') format('woff'),
	url('../font/suisseintl-medium-webfont.woff2') format('woff2'),
	url('../font/suisseintl-medium-webfont.woff') format('woff'),
	url('../font/suisseintl-bold-webfont.woff2') format('woff2'),
	url('../font/suisseintl-bold-webfont.woff') format('woff');

}


/*! ------------------------------------------ MAIN ------------------------------------------ */

html {
	font-size: 19px;	/* 1rem = this font-size in pixels */
}

@media (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

header {
	/*	background-color: #EFEFEF;*/
	background-color: #EFEFEF;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

body {
	background-color: #EFEFEF;
	padding: 0rem;
	border: 0px;
	margin: 0px;
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 1rem;
}



.hidden {
	display: none;
}

h2 {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 10vw;
	margin:0;
	padding-top:0rem;
	padding-bottom:2rem;
	font-weight: normal;
}



p {
	padding:0;
	margin:0;
}

a {
	padding:0;
	margin:0;
	line-height: 0rem;
}


#header-fixed-top {
	position: fixed;
	width: 100%;
	z-index: 1;
}


/*! ----marquee - */

marquee {
	direction: left;
	-webkit-animation: marquee 100s linear infinite;
	animation: marquee 100s linear infinite;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #EFEFEF;
	margin: 0;
	border: 0;
	padding:0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: block;
	
}

marquee p {
	font-family: 'SuisseIntl-Light', sans-serif;
	color: #2b2b2b;
	margin: 0px;
	border: 0px;
	padding: 0rem;
	font-size: 0.9rem;
}

marquee img {
	width: 15px;
	height: 15px;
}


/*! ----navbar - */


#hamburger-menu {
	width: 1rem;
	height: 1rem;
	padding: 1rem;
	background-image: url("../img/hamburger.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	cursor: pointer;
}

.hidden-nav-menu {
	display: none;
}

nav {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left:2rem;
	padding-right:2rem;
	padding-top:1rem;
	padding-bottom:1rem;
	background-color: #E0DFDF;
	width: calc(100% - 4rem);
	position: relative;
}

.nav-element {
	width: 100%;
}

nav a {
	font-family: 'SuisseIntl-Book', sans-serif;
	text-decoration: none;
	color: #FF3A17;
}

nav a:hover {
	color: #ABABAB;
}

.nav-tag {
	width: 100%;
}

.nav-tag-first {
	width:100%;
}


.nav-tag-last {
	width:100%;
}

/*! ----anchros - */
.anchors {
	position: relative;
}


/*! ----footer - */

footer {
	background-color: #FF3A17;
	
}

.footer-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left:2rem;
	padding-top:2rem;
	padding-bottom:2rem;
	padding-right:2rem;
}


.footer-title {
	font-family: 'SuisseIntl-Bold', sans-serif;
	font-size: 0.9rem;
	text-decoration: none;
	color:#EFEFEF;
	padding-top: 1.2rem;
}

.footer-subtitle {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.9rem;
	color:#EFEFEF;
	padding-top:0.5rem;
	padding-right:3rem;
}

.footer-subtitle-link {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.9rem;
	color:#EFEFEF;
	padding-top:0rem;
}


.footer-subtitle a {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.9rem;
	color: #EFEFEF;
	padding-top:0rem;
	text-decoration: none;
}


.footer-subtitle-link a {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.9rem;
	color:#EFEFEF;
	padding-top:0rem;
	text-decoration: none;
}


.footer-subtitle a:hover {
	color: #ABABAB;
}

.footer-subtitle-link a:hover {
	color: #ABABAB;
}

.footer-tag {
	width:100%;
}

.footer-logo {
	width:40%;
	padding-top:2rem;
}



@media (min-width: 900px) {
	
	h2 {
		font-size: 2rem;
	}

	marquee p {
	font-size: 1rem;
	}
	
	#hamburger-menu {
		display: none;
	}
	
	.hidden-nav-menu {
		display: contents;
	}
	
	.nav-tag {
		width: 20%;

	}
	
	.nav-tag-first {
		width:5%;
	}

	.nav-tag-last {
		width:35%;
		text-align: right;
	}


	.footer-tag {
		width: 25%;

	}
	
	.footer-title {
		font-size: 0.9rem;
		padding-top: 0rem;

	}


	.footer-subtitle-link {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.9rem;
	color:#EFEFEF;
	padding-top:0.5rem;
}
	
	.footer-logo {
	width:60%;
		padding-top:0;
	}
	
	.footer-subtitle {
	font-size: 0.7rem;
	padding-top:0.7rem;
}

.footer-subtitle-link {
	font-family: 'SuisseIntl-Regular', sans-serif;
	color:#EFEFEF;
}


.footer-subtitle a {
	font-size: 0.7rem;
	padding-top:0rem;
}


.footer-subtitle-link a {
	font-size: 0.7rem;
	padding-top:0rem;
}
	
	.footer-subtitle a {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.7rem;
	color: #EFEFEF;
	padding-top:0rem;
	text-decoration: none;
}


.footer-subtitle-link a {
	font-family: 'SuisseIntl-Regular', sans-serif;
	font-size: 0.7rem;
	color:#EFEFEF;
	padding-top:0rem;
	text-decoration: none;
}
	
	
}





















