network-main {
	padding:2rem;
}


.intro {
	padding:2rem;
}

.intro-info {
	padding-left:2rem;
	padding-right:2rem;
	padding-top:1rem;
	padding-bottom:1rem;
}

.network-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 0.9rem;
}


.intro h1 {
	font-family: 'SuisseIntl-Bold', sans-serif;
	font-size: 3rem;
	color: #2A2A2A;
	padding-top: 0;
	margin:0;
	padding:0;
	font-weight: normal;
}



.network-h3 {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 1.3rem;
	color: #2A2A2A;
	line-height: 1.9rem;
	margin:0;
	padding-top:0.7rem;
	width:100%;
	padding-right: 2rem;
}

.info {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 1rem;
	color: #2A2A2A;
	margin:0;
	line-height: 1.2rem;
	padding-top:0.7rem;
	width:100%;
	padding-right: 2rem;
}

.network-container {
	text-align: right;
	padding-top:1rem;
	margin-left: auto;
}

.intro-visualization {
	padding-top: 1rem;
	width: 100%;

}

.button-power {
  border: 0.09rem solid #FF3A17;
  border-radius: 2rem;
  padding: 0.9rem;
  padding-top: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #EFEFEF;
}

.button-power a {
    font-family: 'SuisseIntl-Book', sans-serif;
	text-decoration: none;
	color: #FF3A17;
	font-size: 1.3rem;
}

.button-power:hover {
  background-color: #FF3A17;
}

.button-power:hover a {
  color: #EFEFEF;
}





@media (min-width: 900px) {
	
	.intro h1 {
		font-size: 5rem;
		margin-top:0rem;
		
	}
	
	.intro-info {
		padding:0rem;
		margin:0rem;
	}
	

.info {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 0rem;
	color: #2A2A2A;
	margin:0;
	padding: 0rem;
	line-height: 0;
	width:100%;
}


.button-power {
  border: 0.09rem solid #FF3A17;
  border-radius: 2rem;
  padding: 1.1rem;
  padding-top: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #EFEFEF;
  margin: 0.5rem;
}

.button-power a {
    font-family: 'SuisseIntl-Book', sans-serif;
	text-decoration: none;
	color: #FF3A17;
	font-size: 1.3rem;
}
	
	
	.intro-visualization {
		width: 100%;

	}

	.network-h3 {
		width: 40%;
		padding-top:0rem;
		font-size: 1.1rem;
	padding:0;
}

	.network-container {
		text-align: right;
		padding-top:1rem;
		width:60%;
}
}