#stories-main {
	/* display: none; */
	padding-left:2rem;
	padding-right:2rem;
	padding-bottom:0rem;
	padding-top:2rem;
	border-top: 1.7px solid black;
}


color-red {
	background-color: #FF3A17;
	border-radius: 1.9rem;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

color-grey {
	background-color: #AAA9AA;
	border-radius: 1.9rem;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	padding-right: 0.5rem;
	padding-left: 0.5rem;

}

color-pink {
	background-color: #FF46ED;
	border-radius: 1.9rem;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	padding-right: 0.5rem;
	padding-left: 0.5rem;

}

.color-red {
	background-color: #FF3A17;
	border-radius: 1.9rem;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	padding-right: 0.5rem;
	padding-left: 0.5rem;

}

.color-grey {
	background-color: #AAA9AA;
	border-radius: 1.9rem;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	padding-right: 0.5rem;
	padding-left: 0.5rem;

}

.color-pink {
	background-color: #FF46ED;
	border-radius: 1.9rem;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.stories-section {
	min-height: calc(100vh - 72px - 2rem);
	position: relative;
	overflow: hidden;

}

.stories-sub-section {
	height: auto;
}

.stories-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 111px;	/* important, to manage the buttons absoulte position correctly */
	padding-bottom: 3rem;

}

.stories-content {
	
}

.stories-buttons-container {
	padding-bottom: 3rem;
	position: absolute;
 	bottom: 0;
 	width: 100%;
}

.stories-buttons-container .story-button {
	color: #FF46ED;
	background: color(srgb 0.9372 0.9373 0.9374);
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 2.5rem;
	border: 1px solid #FF46ED;
}

.stories-buttons-container .story-button:hover {
	background-color: #FF46ED;
	color: #FFF;
	cursor: pointer;
}

.stories-button-container-2 {
	position: relative;
	text-align: center;
}

.story-button-back {
	position: absolute;
	left: 0;
	cursor: pointer;
	border: none;
	color: #FF3A17;
	background: color(srgb 0.9372 0.9373 0.9374);
	font-size: 1rem;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
}

.story-button-back:before {
	content: 'â† ';
	color: #FF3A17;
	font-size: 1rem;

}

.stories-content h3 {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 1.5rem;
	color: #FF46ED;
	line-height: 1.9rem;
}

.story-bolder-text-black {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 1.5rem;
	/* padding-bottom: 4rem; */
}

.story-data-policy-paragraph-open {
	color: black;
	margin-bottom: 1rem;
}

.story-data-policy-paragraph {
	padding-top: 1rem;
	line-height: 1.5rem;
}

.story-data-policy-paragraph-close {
	color: black;
	margin-top: 1rem;
}

/* --- stories carousell --- */

#story-carousell-container {

}

#stories-carousell {
	font-family: 'SuisseIntl-Bold', sans-serif;
	font-size: 2rem;
	line-height: 3.8rem;
	margin-bottom: 3rem;
	min-height: calc(100vh - var(--header-height) - 19rem);
}



/* --- story share --- */

#story-share-container {


}


#story-share {

}



/* --- story form --- */

#story-form-container {
}


#story-form {
	display: float;
	flex-wrap: warp;
	justify-content: flex-start;
	align-content: flex-start;
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 2rem;
	color: #AAA9AA;
	border: none;
	outline-width: 0;
	line-height: 2.7rem;
}

#story-form .editable {
	-webkit-user-select: none; /* Safari */
    user-select: none;
    color: #AAA9AA;
    outline-width: 0;
}

#story-form .edited {
	color: black !important;
}

#story-form .fixed {
	color: black;
}

#story-form .not-filled {
	text-decoration: red dotted underline;
}


@media (min-width: 900px) {

	.stories-container, .stories-buttons-container {
		max-width: 75vw;
	}

}

@media (max-width: 600px){
	.stories-button-container-2 {
		text-align: right;
	}
	
	/*Togliere blue outline da mobile iOS -> non sembra funzionare*/
	input {
		outline:none;
	   }
}