#workshops-main {
   padding:2rem;
   border-top: 1.7px solid black;
}

#protocols-main {
	padding:2rem;
	border-top: 1.7px solid black;
}


.workshops-sub-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom:0rem;
}

.diagram-protocol {
	width:80%;
}


.r-container-text-credits {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 0.7rem;
	color: #ABABAB;
	text-align:end;
	padding-bottom: 1.5rem;

}

.workshops-sub-section-second-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom:0rem;
    padding-top:1rem;
    border-top: 0.9px solid rgba(43, 43, 43, 1);
}


.workshop-card {
	width: 100%;
}



.workshop-card+.workshop-card {
	margin-top: calc(1.3rem*2);
}


.workshop-card::after {
	content: "";
	position: absolute;
	border-bottom: 1px solid rgba(43, 43, 43, 1);
	width: 100%;
	left: 0;
}

.workshop-card:last-child::after {
	content: "";
	border-bottom: 0;
}


.workshops-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom:0rem;
	margin:0;
}

.workshops-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom:1rem;
	margin:0;
	
}




.workshops-tag {
	width: 100%;
	padding: 0rem;
	margin:0;

}

.workshops-tag-future {
	width: 0%;
	display: none;
	padding: 0rem;
	margin:0;

}

.workshops-tag-title {
	width: 100%;
	padding: 0rem;
	margin:0;
	padding-top:1rem;

}

.workshops-left {
	text-align: left;
	padding: 0rem;

}

.workshops-right {
	text-align: right;
	padding: 0rem;
	padding-top: 1rem;
}


.workshops-tag-big {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 1.1rem;
	color: #2A2A2A;
	margin:0;
	padding-top:1rem;

}

.workshops-tag-name {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 1.3rem;
	color: #FF46EC;
	margin-top:1rem;
	display:inline-block;
	line-height: 1.7rem;
	
}

.workshops-tag-name-invisible {
    color: #EFEFEF;
	
}



.workshops-tag-last {
	font-family: 'SuisseIntl-Book', sans-serif;
	font-size: 1.3rem;
	color: #FF46EC;
	margin-top:0rem;
	display:inline-block;
	line-height: 1.3rem;
	
}

.workshops-tag-last-invisible {
	color: #EFEFEF;
	
}



.workshops-tag-little {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 1.1rem;
	color: #2A2A2A;
	display:inline-block;
	line-height: 1.9rem;
	margin:0;

}



.workshops-tag-little-2 {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 0.9rem;
	color: #2A2A2A;
	margin-top:0rem;
	text-align: right;
	padding:0;
	padding-top:1.3rem;
	margin:0;
	line-height: 1rem;

}

.workshops-tag-description {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 0.9rem;
	color: #2A2A2A;
	line-height: 1.3rem;
	margin:0;
	padding-top:1rem;
	padding-bottom:2rem;
	white-space: break-spaces;

}

.workshops-tag-description-before-soon {
	font-family: 'SuisseIntl-Light', sans-serif;
	font-size: 0.9rem;
	color: #2A2A2A;
	line-height: 1.3rem;
	margin:0;
	padding-top:1rem;
	padding-bottom:0rem;
	white-space: break-spaces;

}


.workshops-tag-description-soon {
	font-family: 'SuisseIntl-Bold', sans-serif;
	font-size: 0.9rem;
	color: #2A2A2A;
	line-height: 1.3rem;
	margin:0;
	padding-top:0;
	padding-bottom:0rem;
	white-space: break-spaces;

}


.workshops-pic {
	width: 100%;
	padding-top: 1rem;
	}

.workshops-pic-format {
	width: 100%;
	margin-top: 1rem;
	border: 1px solid rgba(43, 43, 43, 1);
}





.signin {
  border: 0.09rem solid #FF3A17;
  border-radius: 2rem;
/*  border-width: 0.07rem;*/
  padding-top: 0.5rem;
padding-bottom: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5rem;
  background-color: #EFEFEF;
}

.signin a {
    font-family: 'SuisseIntl-Regular', sans-serif;
	text-decoration: none;
	color: #FF3A17;
	font-size: 1rem;
	line-height: 0;
}

.signin:hover {
  background-color: #FF3A17;
}

.signin:hover a {
  color: #EFEFEF;
}



.read-more-button {
  border: 0.09rem solid #FF46ED;
  border-radius: 2rem;
/*  border-width: 0.07rem;*/
  padding-top: 0.5rem;
padding-bottom: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5rem;
  background-color: #EFEFEF;
}

.read-more-button a {
    font-family: 'SuisseIntl-Regular', sans-serif;
	text-decoration: none;
	color: #FF46ED;
	font-size: 1rem;
	line-height: 0;
}

.read-more-button:hover {
  background-color: #FF46ED;
}

.read-more-button:hover a {
  color: #EFEFEF;
}



.workshops-card-1-thin {
	border-bottom: 0.9px solid rgba(43, 43, 43, 1);
}


.workshops-card-2-thin {
	border-bottom: 0.9px solid rgba(43, 43, 43, 1);
}


.workshops-card-3-thin {
	border-bottom: 0px solid rgba(43, 43, 43, 1);
}



@media (min-width: 900px) {

	.workshops-card-1 {
		width: 33%;
		padding-right:3.5%;
		padding-left:12.5%;
		border-right: 0.75px solid rgba(43, 43, 43, 1);
		border-bottom: 0px solid rgba(43, 43, 43, 1);
	}
	
	.workshops-card-2 {
		width: 33%;
		padding-right:12.5%;
		padding-left:3.5%;
		padding-top:0;
		/* border-right: 1px solid rgba(43, 43, 43, 1); */
	}

	.workshops-card-3 {
		width: 33%;
		/* padding-right:10%; */
		padding-left:3.5%;
		padding-top:0;

	}

	.workshops-card-1-thin {
		width: 30%;
		padding-right:2.5%;
		padding-left:0%;
		border-right: 0.75px solid rgba(43, 43, 43, 1);
		border-bottom: 0px solid rgba(43, 43, 43, 1);
	}


	.workshops-card-2-thin {
		width: 30%;
		padding-right:2.4%;
		padding-left:2.4%;
		border-right: 0.75px solid rgba(43, 43, 43, 1);
		border-bottom: 0px solid rgba(43, 43, 43, 1);
	}


	.workshops-card-3-thin {
		width: 30%;
		padding-right:0%;
		padding-left:2.5%;
		padding-top:0;
		border-bottom: 0px solid rgba(43, 43, 43, 1);
	}



	
	.workshop-card::after {
	border-bottom: 0;
}
	
.diagram-protocol {
	width:30%;
}

	
	.workshop-card {
	width: 30%;
}

.workshop-card-thin {
	width: 30%;
}


	.workshop-card+.workshop-card {
	margin-top: 0;
	}
	
	.workshops-tag {
		width: 50%;

	}

	.workshops-tag-future {
		width: 100%;
		display: contents;

	}

	.workshops-tag-special {
		width: 90%;

	}


	.workshops-tag-title {
		width: 100%;

	}
	
	.workshops-button {
	padding-bottom:0rem;
		
	}
	
	.workshops-tag-last {
	font-size: 1.1rem;
	
	}
	
	.workshops-tag-name {
	padding-top:0rem;
	
}
	
	.workshops-tag-little-2 {	
	font-size: 0.7rem;

}
	
	.workshops-tag-description {
	font-size: 0.9rem;
	line-height: 1.3rem;

}
	
.workshops-sub-section-second-line {
	padding-top:3rem;
	padding-bottom:3rem;
	border-bottom: 1px solid rgba(43, 43, 43, 1);
}

.workshops-sub-section {
	padding-bottom:2rem;
}
	
}