<div class="frame">
    <div class="widget-legenda-inline">

        <h2>Number of resistances detected out of samples taken by geographic region and year</h2>


        <div class="popup-overlay" id="legenda-swiss">
            <div class="popup-container">
                <div class="popup-shadow"></div>
                <div class="popup-main">
                    <button class="close-btn">✕</button>
        
                    <div class="swiss-left-column">
                        <div class="data-visual">
                            <div class="circle circle-outline-small"></div>
                            <span class="data-number">Number of samples gathered</span>
                        </div>
                        <div class="data-visual">
                            <div class="circle circle-small"></div>
                            <span class="data-number">Number of antimicrobial resistant bacteria identified</span>
                        </div>
                    </div>
                    
                    <div class="swiss-right-column">
                        <div class="column-title">Samples and resistant bacteria</div>
                        <div class="data-visual">
                            <div class="circle circle-outline-small"></div>
                            <span class="data-number small">12'637</span>
                            <div class="circle circle-outline-large"></div>
                            <span class="data-number">778'599</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
            <p id="viz-paragraph">In 2020, the Central-West region recorded 111,915 resistant bacteria out of 750,240 samples, likely influenced by COVID-19 reducing testing but focusing on severe cases and increasing antibiotic use.
        </p>
         <div class="widget-legenda-inline">
        <p id="viz-data-sources">Data source: <a href="https://guide.anresis.ch/human-bacteria?filters=[]" target="_blank">Anresis</a>
        </p>
        <button class="widget-legenda-button" id="legenda-button-swiss">legenda</button>
    </div>
    <div class="viz-container">
        <!-- Here will go the visualization for Switzerland -->
    </div>
</div>

<script src="../assets/js/widgets/widget-swiss-svg.js"></script>
