<script src="assets/js/widgets/widget-overlay.js" defer></script>
<div class="world-frame frame">
    <h1>How many resistant bacteria have been detected Worldwide?</h1>

    <p>Antimicrobial resistance (AMR) is a growing global health threat, with scientists around the world identifying
        hundreds of bacteria that no longer respond to common antibiotics. The World Health Organization (WHO) has
        listed over 30 high-risk bacteria already resistant to many treatments. In 2019 alone, AMR was linked to
        approximately 4.95 million deaths worldwide, with 1.27 million directly caused by drug-resistant infections. As
        resistance continues to spread and evolve, AMR is responsible for longer, more severe illnesses and over 1
        million deaths annually, highlighting its urgent impact on global health.</p>
    <div class="descriptive-text">
        <p>In Switzerland, antimicrobial resistance, or AMR, is recognised as a moderate yet persistent public health
            issue, with a resistance rate of 8% reported in 2019. This means that 158 out of 1,958 tested bacterial
            samples were found to be resistant to antibiotics. It is important to understand that resistant bacteria are
            not linked to specific individuals. Instead, they are strains of bacteria that have adapted to survive
            antibiotic treatment, regardless of the person or animal they infect. These bacteria can spread between
            people, animals, and the environment, turning AMR into a shared concern rather than a personal health issue.
        </p>
        <p>A person can carry or transmit resistant bacteria without showing any symptoms, and the same resistant strain
            can move across different populations and settings. For this reason, AMR is viewed as a global and systemic
            threat. It is not the human body that becomes resistant, but the bacteria themselves that learn to survive
            medicines that once worked. In Switzerland, about 300 deaths per year are linked to infections caused by
            these resistant bacteria, highlighting the need for coordinated prevention and control efforts across all
            sectors of society.</p>
    </div>


</div>