<script src="../assets/js/widgets/widget-death.js" defer></script>

<div class="frame">
    <h2>Projected number of deaths in 2050 by cause.</h2>
    <p id="viz-data-sources">Data source: <a
            href="https://amr-review.org/sites/default/files/AMR%20Review%20Paper%20-%20Tackling%20a%20crisis%20for%20the%20health%20and%20wealth%20of%20nations_1.pdf"
            target="_blank">Review on Antimicrobial Resistance</a></p>
    <div class="viz-container">
        <!-- Here will go the mortality data visualization -->
    </div>
</div>