<div class="frame">
    <h2>Antibiotics organised based on clinical introduction date</h2>
    <p id="viz-paragraph">After a golden age and decades of slowdown, antibiotic discovery is now using AI breakthroughs to accelerate the search for new treatments.</p>
    <p id="viz-data-sources">Data source: <a
            href="https://en.wikipedia.org/wiki/Timeline_of_antibiotics"
            target="_blank">Wikipedia</a>; <a
            href="https://www.reactgroup.org/toolbox/understand/how-did-we-end-up-here/few-antibiotics-under-development/"
            target="_blank">ReAct Group</a></p>

    <div class="viz-container">
        <!-- Here will go the timeline visualization -->
    </div>
</div>

<!-- Mobile popup elements - triggered by scroll position at 30% -->
<div class="timeline-popup" id="timeline-popup1">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>PRE-ANTIBIOTIC ERA</h2>
            <p>1900 One of the main cause of death were attributable to infectious diseases.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup2">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>PRE-ANTIBIOTIC ERA</h2>
            <p>1909 Paul Ehrlich's team discovered Salvarsan, which was active against syphilis.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup3">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>PRE-ANTIBIOTIC ERA</h2>
            <p>1914-1918 During the WWI infectious diseases caused more deaths than the battle wounds.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup4">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>GOLDEN AGE</h2>
            <p>1928 Alexander Fleming discovered Penicillin, which is the first antibiotic discovered.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup5">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>GOLDEN AGE</h2>
            <p>1940 Penicillin resistance was identified, before it was approved for the clinical trial.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup6">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>GOLDEN AGE</h2>
            <p>Beginning of Fourties Selman Walksman started classical screening programmes for detection of
                new antibiotics.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup7">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>"FOLLOW-ON" DRUG PERIOD</h2>
            <p>This period refers to the introduction of medications that are similar to a pre-existing
                drugs, differing for some aspects but used for the same therapeutic purposes</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup8">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>"FOLLOW-ON" DRUG PERIOD</h2>
            <p>1970-1980 Over 60 antibiotics are realised on the market.</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup9">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>DISCOVERY VOID/POST ANTIBIOTIC ERA</h2>
            <p>2001 WHO declears AMR "a global pubblic health concern".</p>
        </div>
    </div>
</div>

<div class="timeline-popup" id="timeline-popup10">
    <div class="timeline-popup-container">
        <div class="timeline-popup-shadow"></div>
        <div class="timeline-popup-main">
            <h2>DISCOVERY VOID/POST ANTIBIOTIC ERA</h2>
            <p>Since 2017 only 12 antibiotics have been approved, 10 of which belong to existing mechanisms
                of antimicrobial resistance (AMR).</p>
        </div>
    </div>
</div>

<script src="/makeaware/assets/js/widgets/widget-timeline.js"></script>
