<script src="assets/js/widgets/widget-petri.js" defer></script>

<div class="petri-frame">
    <div class="petri-circle"></div>
    
    <div class="petri-content-block" id="petri-block-0">
        <h2>Altro testo place holder che spiega che ora mettiamo un antibiotico su entrambi i petri per vedere la reazione al batterio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque, mi eu blandit tempor, quam urna porttitor arcu, sit amet vestibulum orci nisi in sem. Nulla facilisi. </p>
    </div>
    
    <div class="petri-content-block" id="petri-block-1">
        <h2>Global Health Impact</h2>
        <p>AMR affects healthcare systems worldwide, making common infections harder to treat and medical procedures riskier.</p>
    </div>
    
    <div class="petri-content-block" id="petri-block-2">
        <h2>Prevention Strategies</h2>
        <p>Through awareness, proper antibiotic use, and infection control, we can slow the spread of resistance.</p>
    </div>

    <img id="petri-legenda" src="assets/img/pages/home/makeaware-petri-legenda.svg">

</div>