<div class="frame">
    <h2>Projected number of deaths in 2050 by cause.</h2>
    <p id="viz-paragraph">Projected annual deaths from AMR are about 1.2 times higher than those from cancer and about 8.3 times higher than those from road traffic accidents.</p>
    <p id="viz-data-sources">Data source: <a
            href="https://amr-review.org/sites/default/files/AMR%20Review%20Paper%20-%20Tackling%20a%20crisis%20for%20the%20health%20and%20wealth%20of%20nations_1.pdf"
            target="_blank">The Review of Antimicrobial Resistance</a></p>
    <div class="viz-container">
        <!-- Here will go the mortality data visualization -->
    </div>
</div>

<script src="/makeaware/assets/js/widgets/widget-death.js"></script>