
<div class="frame">
    <div class="widget-legenda-inline">


        <h2>Number of resistant bacteria observed by country in 2020.</h2>

        <div class="popup-overlay" id="legenda-world">
            <div class="popup-container">
                <div class="popup-shadow"></div>
                <div class="popup-main">
                    <button class="close-btn">✕</button>

                    <div class="data-column">
                        <div class="column-title">Number of antimicrobial resistant bacteria detected</div>
                        <div class="data-visual">
                            <div class="circle circle-small"></div>
                            <span class="data-number small">34</span>
                            <div class="circle circle-large"></div>
                            <span class="data-number">5'474</span>
                        </div>
                    </div>

                    <div class="data-column">
                        <div class="column-title">Number of samples taken</div>
                        <div class="data-visual">
                            <div class="circle circle-outline-small"></div>
                            <span class="data-number small">627</span>
                            <div class="circle circle-outline-large"></div>
                            <span class="data-number">28'000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <p id="viz-paragraph">In 2020, Switzerland (&#8203;<span id="glyph-world-viz"></span>&#8203;) has
        registered 158 antimicrobial resistant bacteria out of 1'958 samples taken.</p>
    <div class="widget-legenda-inline">
        <p id="viz-data-sources">Data source: <a href="https://www.anresis.ch/" target="_blank">Arensis</a>
        </p>
        <button class="widget-legenda-button" id="legenda-button-world">legenda</button>
    </div>




    <div class="viz-container">
        <!-- Here will go your visualization -->
    </div>
</div>

<script src="../assets/js/widgets/widget-world.js"></script>
