<ul class="container">

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>Design Perspectives on Digital Healthcare</h2>
            <p>MAKEAWARE! Final Event</p>
            <img
                src="assets/img/pages/workshops/design-perspectives-on-digital-healthcare/design-perspectives-on-digital-healthcare-cover.png" />
            <p>As MAKEAWARE! approaches its final phase, this workshop creates a space for reflection on the
                challenges and insights that have emerged around data collection and use in design
                practices—particularly within healthcare contexts, by bringing together leading experts in
                design
                research, working at the intersection of participatory practices, data ethics, and health.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>DipLab - Digital Petri Laboratory</h2>
            <p>w/ Matteo Subet</p>
            <img
                src="assets/img/pages/workshops/diplab-digital-petri-laboratory/diplab-digital-petri-laboratory-cover.png" />
            <p>This workshop offers participants an exciting opportunity to deepen their understanding of
                antibiotics and antibiotic resistance through the digitization of the antibiogram test, made
                possible outside of microbiology laboratories. Attendees will be able to broaden their knowledge
                of
                antibiotics and antibiotic resistance, and explore the role of these life-saving drugs in modern
                medicine.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-openhealth-datathon.html" class="workshops-card">
        <li>
            <h2>OpenHealth Datathon</h2>
            <p>at Novartis Pavilion</p>
            <img src="assets/img/pages/workshops/openhealth-datathon/openhealth-datathon-cover.png" />
            <p>Antimicrobial resistance is a global threat that directly or indirectly affects each and every
                one of
                us. On the 21st of June, people who experienced antimicrobial resistance, together with
                healthcare
                professionals, will be working supported by designers to envision possible technology solutions
                to
                the challenge of resistance development.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>Visualizing the Resistance</h2>
            <p>w/ Cristina Corti</p>
            <img
                src="assets/img/pages/workshops/visualizing-the-resistance/visualizing-the-resistance-cover.png" />
            <p>This workshop proposes an hands-on experience to learn and discover the science around
                antimicrobial
                resistance. Starting from scientific contents, the activities will engage the participants in
                the
                creation of a collaborative repository of images, resources and stories that will help
                contributing
                to the fight against antibiotics misuses and its consequences.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>Perturbant Fluids</h2>
            <p>w/ Zoe Romano</p>
            <img src="assets/img/pages/workshops/perturbant-fluids/perturbant-fluids-cover.png" />
            <p>Perturbant Fluids workshop aims to enhance and disseminate bodily autonomy and rethink possible
                relationships with the "perturbing" entities that embody us. During this workshop participants
                will
                be involved in the discovery of scientific protocols and tools to redefine the way we can
                contribute
                and redesign the narrative around science.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="https://ginevraterenghi.github.io/shape-your-symptoms/" target="blank" class="workshops-card">
        <li>
            <h2>Shape your Symptoms</h2>
            <p>w/ Ginevra Terenghi</p>
            <img src="assets/img/pages/workshops/shape-your-symptoms/shape-your-symptoms-cover.png" />
            <p>Are you a women and suffer from urinary tract infections (UTIs)? Have you ever experienced
                urinary
                tract infections, such as cystitis, or are you chronically affected by this sort of diseases?
                Did
                you have any troubles with the treatment? Was the antibiotic not effective or did it cause side
                effects? Take part in this workshop to support the research.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>OpenHealth Datathon</h2>
            <p>at Novartis Pavilion</p>
            <img src="assets/img/pages/workshops/openhealth-datathon/openhealth-datathon-cover.png" />
            <p>Antimicrobial resistance is a and every one of us. On theperienced antimicrobial resistance,
                together
                with healthcare professionals, will be working supported by designers to envision possible
                technology solutions to the challenge of resistance development.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>Biofilie Lab: Growing vaginal microbiome at home</h2>
            <p>w/ Giulia Tomasello and Isabel Farina</p>
            <img src="assets/img/pages/workshops/openhealth-datathon/openhealth-datathon-cover.png" />
            <p>Antimicrobial resistance is a and every one of us. Antimicrobial resistance is a and every one of
                us.
                On theperienced antimicrobial resistance, together with healthcare professionals, will be
                working
                supported by designers to envision possible technology solutions to the challenge of resistance
                development.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

</ul>

<script src="assets/js/workshops.js" ></script>