<ul class="container">

    <div class="workshops-card">
            <h2>Design perspectives on digital healthcare</h2>
            <p>MAKEAWARE! final event</p>
            <img
                src="/makeaware/assets/img/pages/workshops/design-perspectives-on-digital-healthcare/design-perspectives-on-digital-healthcare-cover.png" />
            <p>For this occasion, healthcare experts, designers, and researchers come together to share the results of the MAKEAWARE!-Spearhead project and exchange ideas on future research directions. Through panels and discussions, the seminar explores treatment practices, ethics, and innovation in healthcare from multiple disciplinary perspectives, fostering dialogue and collaboration to refine outcomes and inspire new approaches to addressing antimicrobial resistance.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-design-perspective-on-digital-healthcare.html"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>DiPLab - Digital Petri Laboratory</h2>
            <p>Interaction design for the antibiogram test</p>
            <img
                src="/makeaware/assets/img/pages/workshops/diplab-digital-petri-laboratory/diplab-digital-petri-laboratory-cover.png" />
            <p>The workshop combines hands-on microbiology with interactive digital tools to make the science behind antimicrobial resistance accessible outside traditional laboratories. Participants work with DiPLab, a digital simulation of laboratory testing, to observe bacteria, explore how resistance is detected, and solve real case studies in groups. The format fosters collaborative learning, problem-solving, and discussion on responsible antibiotic use, enabling both educators and students to actively engage with this critical health challenge.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-diplab-digital-petri-laboratory.html"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>OpenHealth datathon</h2>
            <p>Prototyping conversations at the Novartis Pavilion</p>
            <img src="/makeaware/assets/img/pages/workshops/openhealth-datathon/openhealth-datathon-cover.png" />
            <p>A multidisciplinary workshop bringing together participants from medicine, design, technology, and civic organisations to address antimicrobial resistance (AMR) and its impact on health. Working in teams, participants prototype a chatbot conversation aimed at supporting better antibiotic use. Through this process, they explore which data should be collected, what information is most valuable, and how personal experiences with antibiotic consumption and prescription can inform improved practices.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-openhealth-datathon.html"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>Visualizing the resistance</h2>
            <p>Antibiotic pills to answer questions</p>
            <img
                src="/makeaware/assets/img/pages/workshops/visualizing-the-resistance/visualizing-the-resistance-cover.png" />
            <p>This hands-on workshop uses data physicalization to explain how antibiotics work and how resistance develops, focusing on urinary tract infections (UTIs) as a common cause of AMR. By representing their own treatment experiences and consumption habits as tangible artefacts, participants are encouraged to connect personal data with scientific information, gaining a deeper understanding of how antimicrobial resistance develops. The format fosters discussion, builds data literacy, and promotes responsible antibiotic use by linking scientific concepts to lived experience.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-visualizing-the-resistance.html"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>Perturbant fluids</h2>
            <p>Laboratory tools for collectiveness</p>
            <img src="/makeaware/assets/img/pages/workshops/perturbant-fluids/perturbant-fluids-cover.png" />
            <p>This immersive activity engage participants in using laboratory tools and protocols to collect and analyse their own data and samples. Microscopic observation reveals unique crystallisation patterns in tears, documented as “stagograms” within a shared visual repository. Hands-on experimentation connects personal biological data with scientific methods, fostering bodily awareness and collaborative interpretation. The format bridges professional microbiology with personal exploration, transforming scientific observation into a means of self-awareness and inquiry.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-perturbant-fluids.html"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>Shape your symptoms</h2>
            <p>Physical variables for interpretation</p>
            <img src="/makeaware/assets/img/pages/workshops/shape-your-symptoms/shape-your-symptoms-cover.png" />
            <p>In this format, women with experience of urinary tract infections (UTIs) use physical materials to represent and communicate their symptoms. Guided through symptom identification, material exploration, and object-making, participants interpret and translate personal experiences into tangible forms to improve the communication of the disease. Integrating data physicalisation methods with healthcare information aims to foster reflection, build a shared vocabulary for describing symptoms, and support clearer communication with healthcare professionals.</p>
            <a class="card-button-anchor" href="https://ginevraterenghi.github.io/shape-your-symptoms?utm_source=makeaware" target="_blank"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>From chatbots to conversational interfaces </h2>
            <p>Exploring healthcare through interaction design</p>
            <img src="/makeaware/assets/img/pages/workshops/chatbot/chatbot-cover.png" />
            <p>This workshop engages the MAKEAWARE! team from the MA in Interaction Design in designing and prototyping a chatbot to reimagine the communication of antimicrobial resistance and antibiotic consumption. Participants define user needs and tone of voice, structure a knowledge base from curated data, and design the conversational interface. By merging interaction design methods with healthcare communication, the format explores how conversational agents can make complex scientific and medical information accessible, relevant, and engaging.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-chatbot.html"><button class="card-button">Explore</button></a>
    </div>

    <div class="workshops-card">
            <h2>Biofilie Lab: growing vaginal microbiome at home</h2>
            <p>Intimate health for self-awareness</p>
            <img src="/makeaware/assets/img/pages/workshops/biofilie/biofilie-cover.png" />
            <p>This kitchen-based educational lab engages participants in growing and observing their vaginal microbiome through accessible tools and adapted laboratory protocols. It links scientific knowledge with personal awareness, encouraging reflection on intimate health, the role of the vaginal microbiome, and its social, political, and cultural dimensions. By enabling safe home-based experimentation, the format fosters a deeper understanding of body–microbe symbiosis, promotes open discussion, challenges taboos, and supports collective knowledge-making for self-exploration and empowerment.</p>
            <a class="card-button-anchor" href="/makeaware/workshops-biofilie-lab.html"><button class="card-button">Explore</button></a>
    </div>

     <div class="workshops-card">
            <h2>Assembling resistant futures together</h2>
            <p>SPEARHEAD final event</p>
            <img src="/makeaware/assets/img/pages/workshops/spearhead-final/spearhead-final-cover.png" />
            <p>A reflective workshop marking the conclusion of the project, designed to bring partners and stakeholders into dialogue about the achievements of the past four years and potential directions ahead. Subproject leaders act as facilitators, contributing selected images from their journey to be cut, rearranged, and reassembled with input from other consortium members and external participants. This collaborative act of making becomes a tool for conversation, sparking new ideas, identifying opportunities for collaboration, and collectively shaping a shared vision for the future.</p>
            <i>Available soon</i>
            <!-- <a class="card-button-anchor" href="workshops-spearhead-final.html"><button class="card-button">Explore</button></a> -->
    </div> 

</ul>

<script src="/makeaware/assets/js/workshops.js" ></script>