<ul class="container">

    <a href="workshops-design-perspective-on-digital-healthcare.html" class="workshops-card">
        <li>
            <h2>Design perspectives on digital healthcare</h2>
            <p>MAKEAWARE! Final Event</p>
            <img
                src="assets/img/pages/workshops/design-perspectives-on-digital-healthcare/design-perspectives-on-digital-healthcare-cover.png" />
            <p>For this occasion, healthcare experts, designers, and researchers come together to share the results of the MAKEAWARE!-Spearhead project and exchange ideas on future research directions. Through panels and discussions, the seminar explores treatment practices, ethics, and innovation in healthcare from multiple disciplinary perspectives, fostering dialogue and collaboration to refine outcomes and inspire new approaches to addressing antimicrobial resistance.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-diplab-digital-petri-laboratory.html" class="workshops-card">
        <li>
            <h2>DiPLab - Digital Petri Laboratory</h2>
            <p>w/ Matteo Subet</p>
            <img
                src="assets/img/pages/workshops/diplab-digital-petri-laboratory/diplab-digital-petri-laboratory-cover.png" />
            <p>The workshop combines hands-on microbiology with interactive digital tools to make the science behind antimicrobial resistance accessible outside traditional laboratories. Participants work with DiPLab, a digital simulation of laboratory testing, to observe bacteria, explore how resistance is detected, and solve real case studies in groups. The format fosters collaborative learning, problem-solving, and discussion on responsible antibiotic use, enabling both educators and students to actively engage with this critical health challenge.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-openhealth-datathon.html" class="workshops-card">
        <li>
            <h2>OpenHealth datathon</h2>
            <p>at Novartis Pavilion</p>
            <img src="assets/img/pages/workshops/openhealth-datathon/openhealth-datathon-cover.png" />
            <p>A multidisciplinary workshop bringing together participants from medicine, design, technology, and civic organisations to address antimicrobial resistance (AMR) and its impact on health. Working in teams, participants prototype a chatbot conversation aimed at supporting better antibiotic use. Through this process, they explore which data should be collected, what information is most valuable, and how personal experiences with antibiotic consumption and prescription can inform improved practices.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-visualizing-the-resistance.html" class="workshops-card">
        <li>
            <h2>Visualizing the resistance</h2>
            <p>Exploring AMR in the microbiology lab</p>
            <img
                src="assets/img/pages/workshops/visualizing-the-resistance/visualizing-the-resistance-cover.png" />
            <p>This hands-on workshop uses data physicalization to explain how antibiotics work and how resistance develops, focusing on urinary tract infections (UTIs) as a common cause of AMR. By representing their own treatment experiences and consumption habits as tangible artefacts, participants are encouraged to connect personal data with scientific information, gaining a deeper understanding of how antimicrobial resistance develops. The format fosters discussion, builds data literacy, and promotes responsible antibiotic use by linking scientific concepts to lived experience.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-perturbant-fluids.html" class="workshops-card">
        <li>
            <h2>Perturbant Fluids</h2>
            <p>w/ Zoe Romano</p>
            <img src="assets/img/pages/workshops/perturbant-fluids/perturbant-fluids-cover.png" />
            <p>This immersive activity engage participants in using laboratory tools and protocols to collect and analyse their own data and samples. Microscopic observation reveals unique crystallisation patterns in tears, documented as “stagograms” within a shared visual repository. Hands-on experimentation connects personal biological data with scientific methods, fostering bodily awareness and collaborative interpretation. The format bridges professional microbiology with personal exploration, transforming scientific observation into a means of self-awareness and inquiry.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="https://ginevraterenghi.github.io/shape-your-symptoms/" target="blank" class="workshops-card">
        <li>
            <h2>Shape your Symptoms</h2>
            <p>w/ Ginevra Terenghi</p>
            <img src="assets/img/pages/workshops/shape-your-symptoms/shape-your-symptoms-cover.png" />
            <p>Are you a women and suffer from urinary tract infections (UTIs)? Have you ever experienced
                urinary
                tract infections, such as cystitis, or are you chronically affected by this sort of diseases?
                Did
                you have any troubles with the treatment? Was the antibiotic not effective or did it cause side
                effects? Take part in this workshop to support the research.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-chatbot.html" class="workshops-card">
        <li>
            <h2>From chatbots to conversational interfaces </h2>
            <p>Exploring medical information through interaction design</p>
            <img src="assets/img/pages/workshops/chatbot/chatbot-cover.png" />
            <p>This workshop engages the MAKEAWARE! team from the MA in Interaction Design in designing and prototyping a chatbot to reimagine the communication of antimicrobial resistance and antibiotic consumption. Participants define user needs and tone of voice, structure a knowledge base from curated data, and design the conversational interface. By merging interaction design methods with healthcare communication, the format explores how conversational agents can make complex scientific and medical information accessible, relevant, and engaging.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

    <a href="workshops-biofilie-lab.html" class="workshops-card">
        <li>
            <h2>Biofilie Lab: Growing vaginal microbiome at home</h2>
            <p>w/ Giulia Tomasello and Isabel Farina</p>
            <img src="assets/img/pages/workshops/biofilie/biofilie-cover.png" />
            <p>This kitchen-based educational lab engages participants in growing and observing their vaginal microbiome through accessible tools and adapted laboratory protocols. It links scientific knowledge with personal awareness, encouraging reflection on intimate health, the role of the vaginal microbiome, and its social, political, and cultural dimensions. By enabling safe home-based experimentation, the format fosters a deeper understanding of body–microbe symbiosis, promotes open discussion, challenges taboos, and supports collective knowledge-making for self-exploration and empowerment.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

     <a href="workshops-spearhead-final.html" class="workshops-card">
        <li>
            <h2>Collage</h2>
            <p>SPEARHEAD final workshop</p>
            <img src="assets/img/pages/workshops/biofilie/biofilie-cover.png" />
            <p>This kitchen-based educational lab engages participants in growing and observing their vaginal microbiome through accessible tools and adapted laboratory protocols. It links scientific knowledge with personal awareness, encouraging reflection on intimate health, the role of the vaginal microbiome, and its social, political, and cultural dimensions. By enabling safe home-based experimentation, the format fosters a deeper understanding of body–microbe symbiosis, promotes open discussion, challenges taboos, and supports collective knowledge-making for self-exploration and empowerment.</p>
            <button class="card-button">Read More</button>
        </li>
    </a>

</ul>

<script src="assets/js/workshops.js" ></script>