html
    font-size: 22px     // mobile first, it defines the rem unit
    line-height: 115%

    +media(tablet-h)
        font-size: 14px

    //overflow-x: hidden





margin = 1rem


.content-margins
    padding-left: 1rem
    padding-right: 1rem
     