html
    font-size: 22px     // mobile first, it defines the rem unit
    line-height: 115%
    background-color: brand-white

    +media(tablet-h)
        font-size: 14px

    //overflow-x: hidden

@font-face
    font-family: 'PP Editorial New'
    src: url('../../assets/fonts/PPEditorialNew-Ultralight.woff2') format('woff2'),
        url('../../assets/fonts/PPEditorialNew-Ultralight.woff') format('woff')
    font-weight: 200
    font-style: normal
    font-display: swap

@font-face 
    font-family: 'Suisse Intl'
    src: url('../../assets/fonts/SuisseIntl-Light.woff2') format('woff2'),
        url('../../assets/fonts/SuisseIntl-Light.woff') format('woff')
    font-weight: 300
    font-style: normal
    font-display: swap



.content-margins
    padding-left: 0.5rem
    padding-right: 0.5rem
     
    +media(tablet-h)
        padding-left: 1rem
        padding-right: 1rem

.divider
    height: 2.5rem

    +media(tablet-h)
        height: 6rem

.in-text-citation
    color: black
