brand-purple = #6A00FF
brand-red = #FF2600
brand-pink = #FF00E5
brand-lightblue = #00D4BF
brand-green = #BCBC00
brand-white = #FFFFFF
brand-black = #151515
brand-grey1 = #D9D9D9
brand-grey2 = #ACACAC
diagnosis-color = brand-purple
symptoms-color = brand-red
treatment-color = brand-pink
follow-up-color = brand-lightblue
demographics-color = brand-green