.serif-home
    font-size: 10vw
    line-height: 1.15
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(tablet-v)
        font-size: 3rem
        line-height: 1

    +media(tablet-h)
        font-size: 5rem
        line-height: 1

    +media(desktop)
        font-size: 7rem

    +media(desktop-w)
        font-size: 9rem

.serif-title
    font-size: 1.7rem
    line-height: calc(1.7rem*1.15)
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(desktop)
        font-size: 5rem
        line-height: calc(5rem*1.15)

.serif-subtitle
    font-size: 1.1rem
    line-height: 1.30
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(desktop)
        font-size: 3rem
        line-height: 1.20

.serif-paragraph
    font-size: 1rem
    line-height: 1.30
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(desktop)
        font-size: 2rem
        line-height: 1.20

.serif-filters
    font-size: 0.7rem
    line-height: calc(0.7rem*1.15)
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(desktop)
        font-size: 2rem
        line-height: calc(2rem*1.15)

.serif-captiontitle
    font-size: 0.9rem
    line-height: calc(0.9rem*1.15)
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(desktop)
        font-size: 1.5rem
        line-height: calc(1.5rem*1.15)

.serif-caption
    font-size: 0.7rem
    line-height: calc(0.7rem*1.15)
    font-family: 'PP Editorial New', serif
    font-weight: 200

    +media(desktop)
        font-size: 1rem
        line-height: calc(1rem*1.15)


.sans-logo
    font-size: 1.5em
    font-family: sans-serif
    font-weight: bold

    +media(desktop)
        font-size: 2.8rem

.sans-menu
    font-size: 1.2rem
    line-height: calc(1.2rem*1.15)
    font-family: 'Suisse Intl', sans-serif
    font-weight: 300

    +media(tablet-h)
        font-size: 0.8rem

    +media(desktop)
        font-size: 1.1rem
        line-height: calc(1.1rem*1.15)

.sans-paragraph
    font-size: 0.8rem
    line-height: 1.20
    font-family: 'Suisse Intl', sans-serif
    font-weight: 300

    +media(desktop)
        font-size: 1.8rem
        line-height: 1.20

.sans-caption
    font-size: 0.7rem
    line-height: calc(0.7rem*1.15)
    font-family: 'Suisse Intl', sans-serif
    font-weight: 300

    +media(desktop)
        font-size: 1.2rem
        line-height: calc(1.2rem*1.15)

.sans-scheme
    font-size: 0.6rem
    line-height: calc(0.6rem*1.15)
    font-family: 'Suisse Intl', sans-serif
    font-weight: 300

    +media(desktop)
        font-size: 0.9rem
        line-height: calc(0.9rem*1.15)