<section class="footer-bar">
    <div id="footer-team">
        <h2>MAKEAWARE! Team</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/serena-cangiano/?originalSubdomain=ch" target="_blank">Serena
                    Cangiano</a> - Project coordinator</li>
            <li><a href="https://www.linkedin.com/in/ginevra-terenghi-b530b21ab/" target="_blank">Ginevra Terenghi</a> -
                Ph.D Student</li>
            <li><a href="https://www.linkedin.com/in/antonella-autuori/" target="_blank">Antonella Autuori</a> -
                Ph.D Student</li>
            <li><a href="https://www.linkedin.com/in/zumat/" target="_blank">Matteo Subet</a> - Ph.D Student</li>
            <li><a href="https://www.linkedin.com/in/marco-lurati/?originalSubdomain=ch" target="_blank">Marco
                    Lurati</a> - Collaborator</li>
             <li><a href="https://www.linkedin.com/in/davide-vitrano-890757221/" target="_blank">Davide Vitrano</a> -
                Collaborator</li>
                <li><a href="https://www.linkedin.com/in/alice-mioni-614ab7198/" target="_blank">Alice Mioni</a> - MA
                assistant</li>
           
        </ul>
    </div>

    <div id="footer-citation">
        <h2>License</h2>
        <p>MAKEAWARE! is part of <a href="https://spearhead-project.ch/" target="_blank">Spearhead Project</a>. <a
                href="https://www.innosuisse.ch/inno/en/home/promotion-of-national-projects/flagship-initiative.html"
                target="_blank">Innosuisse Flagship 2022-24</a>. Unless otherwise stated, the repository
            contents are licensed under <span style="display: flex;"><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a><img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"><img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="" style="max-width: 1em;max-height:1em;margin-left: .2em;"></span></p>
    </div>

    <div id="footer-license">
        <h2>How to cite this project</h2>
        <p>Cangiano, S., Terenghi, G., Autuori, A., Subet, M. (2025). MAKEAWARE! Data pills and workshops to raise
            awareness on antibiotic consumption and antimicrobial resistance</p>
        <a href="https://spearhead-amr.github.io/makeaware/" target="_blank">https://spearhead-amr.github.io/makeaware/</a>
        <!--<img src="/makeaware/assets/img/pages/footer/spearhead-logo.svg">-->
    </div>

    <div id="footer-data-policy">
        <h2>Data Policy & Contacts</h2>
        <p>This Repository is hosted on GitHub Pages. We do not use cookies and we do not collect any data or
            information from your navigation. All data is anonymised. Learn more about the use of data in the <a
                href="/makeaware/data-policy.html">Data
                Privacy and Management Policy Page</a>. Data is not used for profiling nor commercial or marketing use.
        </p>
        <p><a href="https://www.instagram.com/makeawareamr/?hl=en" target="_blank">Instagram</a> - <a
                href="https://www.linkedin.com/company/spearhead-amr/" target="_blank">LinkedIn</a> - <a
                href="mailto:makeaware.ide@supsi.ch">Mail</a></p>
        <div id="footer-logos">
            <img id="footer-supsi-logo" src="/makeaware/assets/img/pages/footer/supsi-logo.svg">
            <img id="footer-spearhead-logo" src="/makeaware/assets/img/pages/footer/spearhead-logo.svg">
        </div>
    </div>

    
</section>