<nav class="header-bar">
      <ul class="nav-links"> <!--ul contiene una lista di elementi li-->
      <li><a href="/index.html">home</a></li>
      <li><a href="/workshop.html">workshop</a></li>
      <li><a href="/">story-collection tool</a></li>
      <li><a href="/">databook</a></li>
      <li><a href="/">publications</a></li>
      <li><a id="spearhead" href="/">Powered by SPEARHEAD</a></li>
      </ul>

      <!-- menu burger -->
    <nav>
      <div id="hamburger-menu">
        <div></div> <!--tre lineette bianche-->
        <div></div>
        <div></div>
      </div>
    </nav>
</nav>