<!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li>Network</li>
        <li>Data pills</li>
        <li><a href="stories.html">Stories</a></li>
        <li>Workshops</li>
        <li>Protocol</li>
    </ul>
</nav> -->

<nav class="header-bar">
    <nav class="menuvoci">
      <ul class="nav-links"> <!--ul contiene una lista di elementi li-->
      <li><a href="/">home</a></li>
      <li><a href="/">workshop</a></li>
      <li><a href="/">story-collection tool</a></li>
      <li><a href="/">databook</a></li>
      <li><a href="/">publications</a></li>
      <li><a href="/">Powered by SPEARHEAD</a></li>
      </ul>
    </nav>

      <!-- menu burger -->
    <nav>
      <div class="mobile-menu">
        <div></div> <!--tre lineette bianche-->
        <div></div>
        <div></div>
      </div>
    </nav>
</nav>

<!-- <nav class="barra col-12"> 
    <nav class="col-10">
      <ul class="nav-links">
      <li><a href="#home">home</a></li>
      <li><a href="#chisiamo">chi siamo</a></li>
      <li><a href="#corti">corti</a></li>
      <li><a href="#progetti">progetti</a></li>
      <li><a href="#gadget">gadget</a></li>
      <li><a href="#contatti">contatti</a></li>
      </ul>
      </nav>

   
      <nav class="col-2">
      <div class="menucell">
        <div></div> 
        <div></div>
        <div></div>
      </div>
      </nav>
    </nav> -->