<!-- Primary Meta Tags -->
<meta name="title" content="MAKEAWARE! Raising the awareness of antimicrobial resistance - Powered by Spearhead">
<meta name="description" content="Data pills and workshops to raise awareness on antibiotic consumption and AMR with data.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://spearhead-amr.github.io/makeaware/">
<meta property="og:title" content="MAKEAWARE! Raising the awareness of antimicrobial resistance - Powered by Spearhead">
<meta property="og:description" content="Data pills and workshops to raise awareness on antibiotic consumption and AMR with data.">
<meta property="og:image" content="assets/img/viz1.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://spearhead-amr.github.io/makeaware/">
<meta property="twitter:title" content="MAKEAWARE! Raising the awareness of antimicrobial resistance - Powered by Spearhead">
<meta property="twitter:description" content="Data pills and workshops to raise awareness on antibiotic consumption and AMR with data.">
<meta property="twitter:image" content="assets/img/viz1.svg">

<!-- Google site verification -->
<meta name="google-site-verification" content="JM07wkR90m_nMhFSktfkHRYcktRWWgyQJo_gT3VlqoM" />

<!-- fav icon link -->
<link rel="icon" href="assets/img/fav_pink.ico"/>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="assets/css/main.css">
<!-- JS -->
<script src="../assets/js/header.js" defer></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">