<nav class="header-bar">
      <ul id="main-nav-links" class="nav-links"> <!--ul contiene una lista di elementi li-->
        <li id="nav-home"><a href="/index.html">home</a></li>
        <li id="nav-workshops"><a href="/workshops.html">workshops</a></li>
        <li id="nav-stories-collection"><a href="/stories.html">story-collection tool</a></li>
        <li id="nav-databook"><a href="/databook.html">databook</a></li>
        <li id="nav-chatbot"><a href="/chatbot.html">chatbot</a></li>
        <li id="nav-publications"><a href="/publications.html">publications</a></li>

        <li><a id="spearhead-mobile" href="https://spearhead-project.ch/">SPEARHEAD</a></li>
      
        <li><a id="spearhead" href="https://spearhead-project.ch/">Powered by SPEARHEAD</a></li>
      
      </ul>

      <!-- menu burger -->
    <nav>
      <div id="hamburger-menu">
        <div></div> <!--tre lineette bianche-->
        <div></div>
        <div></div>
      </div>
    </nav>
</nav>