#main-chatbot
    margin: 0
    padding: 0
    width: 100%
    height: 100dvh
    padding-top: 7vh

    +media(tablet-h)
        padding-top: 10vh

#chatbot-introduction

    h1
        @extend .serif-title
        padding-top: 7vh
        margin-bottom: 1rem
        width: 100%
        text-wrap: balance
        text-align: center

        +media(tablet-h)
            padding-top: 10vh

    h2
        @extend .serif-subtitle
        margin-bottom: 2rem
        width: 90%
        text-wrap: balance
        text-align: center
        margin-left: auto
        margin-right: auto
        font-size: 1.2rem

        +media(tablet-h)
            width: 80%
            font-size: 2.5rem

        +media(tablet-v)
            font-size: 1.5rem

        +media(desktop)
            width: 80%
            font-size: 3rem
        

    h3
        text-transform: uppercase
        margin-bottom: 0.5rem

#chatbot-description
    display: none

    +media(tablet-h)
        display: block

    +media(desktop)
        display: block

    p
        @extend .sans-caption

#chatbot-logo
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    position: sticky
    //top: 0
    //Remove comment when in production->
    top: 5vh
    z-index: 10
    background-color: brand-white
    padding-top: 1rem
    padding-bottom: 1rem

    +media(mobile)
        padding-top: .5rem

#chatbot-logo-outer
        display: flex
        justify-content: center
        align-items: center
        background-color: brand-white
        border: 1px solid brand-black
        border-radius: 50%
        margin-bottom: 10px

        #chatbot-logo-background
            width: 90%
            height: 90%
            background-color: brand-black
            border-radius: 50%

            #chatbot-logo-icon,
            .chatbot-minilogo-icon
                width: 40%
                height: 40%
                background-color: brand-grey1
                border-radius: 50%
                position: relative
                top: 30%
                left: 30%
                transition: top 0.5s ease-in-out, left 0.5s ease-in-out
                will-change: top, left

    #chatbot-name
        @extend .sans-caption
        font-weight: bold
        font-size: .8rem

        +media(tablet-h)
            font-size: 1.5rem

        +media(desktop)
            font-size: 1.5rem
    
    #new-chat
        @extend .sans-caption
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        font-size: .7rem
        gap: .2rem

        +media(tablet-h)
            font-size: 1.2rem

    #new-chat:hover
        cursor: pointer
        color: brand-pink

        button
            background-color: brand-pink
            color: brand-white
            cursor: pointer
            border: 1px solid brand-pink
            font-weight: bold


    #new-chat button
        display: flex
        align-items: center
        justify-content: center
        border: 1px solid brand-black
        border-radius: 50%
        width: 1rem
        height: 1rem

        +media(tablet-h)
            padding-top: 2px
            width: 1.5rem
            height: 1.5rem
        
        +media(mobile)
            color: brand-black
            padding: 0
    
    .chatbot-logo-big
        width: 20vw
        height: 20vw

        +media(tablet-v)
            width: 10vw
            height: 10vw

        +media(desktop)
            width: 8vw
            height: 8vw

    .chatbot-logo-small
        width: 10vw
        height: 10vw

        +media(tablet-v)
            width: 5vw
            height: 5vw

        +media(desktop)
            width: 4vw
            height: 4vw

#chatbot-mini-logo
    position: relative
    top: 0
    left: 0
    width: fit-content

    .chatbot-logo-mini
        width: 1rem
        height: 1rem

        +media(tablet-h)
            width: 2rem
            height: 2rem

#chatbot-description
    width: 30%
    margin-top: 2rem
    margin-left: auto
    margin-right: auto
    border: 1px solid brand-black
    border-radius: 20px

    #description-rect-style
        position: relative
        top: -10px
        background-color: red
        width: 40%
        height: 100%

    #description-rect-content
        position: relative
        top: 2px
        right: 2px
        width: 100%
        height: auto
        border: 1px solid brand-black
        border-radius: 20px
        padding: 1rem
        background-color: brand-white
        overflow: hidden
        transition: height 0.4s ease-out

        p
            font-size: 1rem
            position: fixed
            top: 0
            left: 0
            width: 100%
            margin: 0
            opacity: 0
            pointer-events: none
            transform: translate(8px, 8px)
            transition: opacity 0.4s ease-out, transform 0.4s ease-out

        p.active
            position: relative
            opacity: 1
            pointer-events: auto
            transform: translateY(0)

        p.hidden
            display: block

#chat-history
    padding-bottom: 10vh

    +media(tablet-h)
        padding-bottom: 20vh

.user-content
    @extend .content-margins
    border-bottom: 1px solid brand-black

    p
        padding-bottom: .5rem
    
    p:last-of-type
        padding-bottom: .2rem

.msg-light
    @extend .sans-caption
    font-size: .7rem

    +media(tablet-h)
        font-size: 1rem

    +media(mobile)
        font-size: .6rem

.msg-bold
    @extend .sans-caption
    font-size: .8rem
    font-weight: bold

    +media(tablet-h)
        font-size: 1rem

    +media(mobile)
        font-weight: 400

.assistant-content
    @extend .content-margins
    display: flex
    flex-direction: column
    
    +media(tablet-h)
        flex-direction: row
        gap: 4rem
        padding-left: 20%

    a
        color: brand-black
        text-decoration: underline

    a:hover
        cursor: pointer
        color: brand-pink

.assistant-info
    @extend .content-margins
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    width: 100%
    margin-top: 1rem
    margin-bottom: 1rem
    
    +media(tablet-h)
        transform: translateX(-3rem)
        padding-left: 20%
        margin-bottom: 0

    +media(mobile)
        margin-bottom: .5rem

.written-info
    padding-left: .5rem

    p:first-of-type
        font-size: .7rem
        text-transform: uppercase

        +media(mobile)
            font-size: .5rem
    
    +media(tablet-h)
        padding-left: 1rem

.assistant-message
    +media(tablet-h)
        width: 70%;

.assistant-response
    line-height: 140%
    margin-bottom: 1rem

    +media(tablet-h)
        margin-bottom: 0

.assistant-citations
    @extend .serif-paragraph
    font-size: .8rem
    margin-bottom: 2rem

    +media(tablet-h)
        font-size: 1rem
        margin-bottom: 0
        width: 30%;

    a
        display: block
        word-break: break-all
        hyphens: auto
        overflow-wrap: break-word

.primary-sources
    margin-bottom: 1rem

#chatbot-action
    background-color: brand-white
    z-index: 10
    width: 100%
    position: fixed
    bottom: 0


#chatbot-input
    @extend .sans-caption
    display: flex
    justify-content: space-between
    align-items: center
    width: 90%
    margin-top: 1rem
    border: 1px solid brand-black
    border-radius: 20px
    margin-left: auto
    margin-right: auto
    padding: 8px 1rem

    +media(desktop)
        padding: 10px 1rem  

    input
        min-width: 70%
        font-size: .8rem
        border: 0px
        margin-right: 20px
        outline: none

        +media(tablet-h)
            font-size: 1.3rem
            min-width: 80%

    input:focus-visible
        outline-color: transparent

    button
        background-color: brand-black
        color: brand-white
        padding: 5px 2px
        width: 2rem
        height: 2rem
        border-radius: 50%
        font-size: 1rem
        line-height: 100%
        border: 1px solid brand-black

        +media(tablet-h)
            font-size: 2rem
            width: 3rem
            height: 3rem

    button:hover
        background-color: brand-white
        color: brand-black
        cursor: pointer

#project-info
    @extend .sans-caption
    font-size: .5rem
    width: fit-content
    margin-left: auto
    margin-right: auto
    margin-top: .5rem
    padding-bottom: .5rem
    text-decoration: underline
    transition: text-decoration-color 0.4s ease

    +media(desktop)
        font-size: 1rem

#project-info:hover
    cursor: pointer
    color: brand-pink

.chatbot-info-box
    @extend .content-margins
    padding-top: 7vh
    width: 100%
    height: auto
    background: brand-white
    display: none
    z-index: 11

    .chatbot-info-box-title
        @extend .serif-paragraph
        margin-bottom: 2rem
        text-wrap: balance
        text-align: left
        font-size: 1.2rem

        +media(tablet-h)
            font-size: 2.5rem

        +media(tablet-v)
            font-size: 1.5rem

        +media(desktop)
            font-size: 3rem
    
    .chatbot-info-box-content
        @extend .sans-caption
        display: flex
        flex-direction: column

        +media(tablet-h)
            flex-direction: row

        h3
            @extend .sans-caption
            text-transform: uppercase
            min-width: 15%
            position: relative
            top: calc(1.3rem - (0.6rem * 1.15))
            margin-bottom: 1.2rem
            font-size: 1.1rem

            +media(tablet-h)
                margin-bottom: 0
                font-size: 1.1rem

            +media(mobile)
                font-size: .7rem
        
        p
            @extend .serif-paragraph
            font-size: 1.3rem

            +media(tablet-h)
                font-size: 2rem

            +media(mobile)
                font-size: 1rem
        
        a
            color: brand-black

        a:hover
            color: brand-pink

#close-footer
    @extend .sans-caption
    font-size: .5rem
    padding-bottom: .5rem
    text-decoration: underline
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    text-align: center
    z-index: 12
    background-color: brand-white

    +media(desktop)
        font-size: 1rem

#close-footer:hover
    cursor: pointer
    color: brand-pink

.active
    display: block
    opacity: 1

.hidden
    display: none !important
    visibility: none
    opacity: 0

