// shared classes
.section-title-databook
    @extend .sans-paragraph
    text-transform: uppercase
    //font-size: 0.7rem
    margin-bottom 1rem

    +media(desktop)
        font-size: 1.9rem

#main-databook
    @extend .content-margins
    margin-top: 15vh

    // text color classes
    .filter-diagnosis
        color: diagnosis-color
    .filter-symptoms
        color: symptoms-color
    .filter-treatment
        color: treatment-color
    .filter-follow-up
        color: follow-up-color
    .filter-demographics
        color: demographics-color

    // introduction and instructions
    #stories-introduction
        margin-bottom:
            3rem

        h1
            display: none

        #introduction-title
            @extend .serif-title

        #stories-instructions, #storeis-about-databook
            @extend .sans-paragraph
            margin-top 2rem

            +media(desktop)
                margin-top calc(2rem * 2.5)

            h2
                @extend .section-title-databook            
    
    // filters
    #stories-filters

        h2
            @extend .section-title-databook
        
        #stories-filters-container
            @extend .serif-paragraph
            list-style: none
            padding-inline-start: 0

            li
                display: inline-block
                padding: 0.2rem 0.7rem
                border: solid
                border-width: 1px
                border-radius: 2rem
                box-sizing: border-box
                text-transform: uppercase
                margin-right: 0.5rem
                margin-bottom: 0.5rem
                user-select: none;

                &:last-child
                    margin-right: 0
                
                &:hover
                    cursor: pointer

                &[data-filters="diagnosis"]
                    border-color: diagnosis-color
                    @extend .filter-diagnosis
                    &.story-active
                        background-color: diagnosis-color

                &[data-filters="symptoms"]
                    border-color: symptoms-color
                    @extend .filter-symptoms
                    &.story-active
                        background-color: symptoms-color

                &[data-filters="treatment"]
                    border-color: treatment-color
                    @extend .filter-treatment
                    &.story-active
                        background-color: treatment-color

                &[data-filters="follow-up"]
                    border-color: follow-up-color
                    @extend .filter-follow-up
                    &.story-active
                        background-color: follow-up-color

                &[data-filters="demographics"]
                    border-color: demographics-color
                    @extend .filter-demographics
                    &.story-active
                        background-color: demographics-color

                &.story-active
                    color: white

                +media(desktop)
                    border-radius: 2rem
                    padding: 0.5rem 1.75rem
                    border-width: 2px


    // sotries collection
    #stories-collection-container
        @extend .serif-paragraph
        border-top: 1px solid black
        margin-top 2rem
        padding-top 1rem

        #stories-list
            list-style: none
            padding-inline-start: 0

            h3
                @extend .serif-paragraph
                margin-bottom 0.5rem

            li+li
                margin-top: 1rem

            span[data-filter="diagnosis"],
            span[data-filter="symptoms"],
            span[data-filter="treatment"],
            span[data-filter="follow-up"],
            span[data-filter="demographics"]
                display: inline

            
            &.diagnosis, &.symptoms, &.treatment, &.follow-up, &.demographics
                span[data-filter="diagnosis"],
                span[data-filter="symptoms"],
                span[data-filter="treatment"],
                span[data-filter="follow-up"],
                span[data-filter="demographics"]
                    display: none
            

            &.diagnosis
                span[data-filter="diagnosis"]
                    display: inline
            
            &.symptoms
                span[data-filter="symptoms"]
                    display: inline

            &.treatment
                span[data-filter="treatment"]
                    display: inline

            &.follow-up
                span[data-filter="follow-up"]
                    display: inline

            &.demographics
                span[data-filter="demographics"]
                    display: inline
            

            /* old, one filter at the time only
        
            &[data-current-filter="diagnosis"]
                span[data-filter="symptoms"], span[data-filter="treatment"], span[data-filter="follow-up"], span[data-filter="demographics"]
                    display: none

            &[data-current-filter="symptoms"]
                span[data-filter="diagnosis"], span[data-filter="treatment"], span[data-filter="follow-up"], span[data-filter="demographics"]
                    display: none

            &[data-current-filter="treatment"]
                span[data-filter="symptoms"], span[data-filter="diagnosis"], span[data-filter="follow-up"], span[data-filter="demographics"]
                    display: none

            &[data-current-filter="follow-up"]
                span[data-filter="symptoms"], span[data-filter="treatment"], span[data-filter="diagnosis"], span[data-filter="demographics"]
                    display: none

            &[data-current-filter="demographics"]
                span[data-filter="symptoms"], span[data-filter="treatment"], span[data-filter="follow-up"], span[data-filter="diagnosis"]
                    display: none

            */

            li
                .glyph
                    color: brand-grey2
                    cursor: pointer
                
                .key-counter
                    display: inline-block

    #terms-container
        position: fixed
        overflow: auto;
        display: none
        bottom: 0
        left: 0
        height: 50%
        background-color: white
        width: 100%
        font-size: 1.5rem
        padding: 2rem 1rem 0 1rem
        border-top: 1px solid black
        @extend .sans-paragraph

        &.terms-container-active
            display: block

        #terms-close
            height: 3rem
            width 3rem
            position: absolute
            right: 1rem
            top: 1rem
            
            &:hover
                cursor: pointer

            &:before
                content: ""
                width: 100%
                position: relative
                display: block
                height: 1px
                border-bottom: 1px solid black
                transform: rotate(-45deg)
                top: 50%

            &:after
                content: ""
                width: 100%
                position: relative
                display: block
                height: 1px
                border-bottom: 1px solid black
                transform: rotate(45deg)
                top: 50%

        
        #terms-collection-container
            
            &>section
                display: none
                margin-top: 2rem

                /*
                .terms-div-header
                    display: flex
                    margin-top: 2rem
                */


                h3
                    grid-column: 1;

                .terms-ul-key
                    grid-column: 2;
                    list-style: none
                    padding-left: 1rem

                    li + li
                        margin-top: 1rem

            &>section.current-key-active
                display: block
                display: grid;
                //grid-template-columns: auto 1fr;
                gap: 3rem;
                
                
        




