#main-data-policy
    @extend .content-margins
    overflow-x: hidden
        
#data-policy-introduction
    h1
        @extend .serif-title
        margin-top: 7vh
        margin-bottom: 1rem
        width: 100%
        text-wrap: balance

        +media(tablet-h)
            margin-top: 10vh

    p
        @extend .serif-paragraph

#data-policy-detail
    display: flex
    flex-direction: column

    h2
        @extend .sans-caption
        text-transform: uppercase
        margin-bottom: 0.5rem
        overflow-wrap: anywhere
        word-break: break-word
        -webkit-hyphens: auto
        hyphens: auto
        font-size: .8rem

        +media(tablet-h)
            margin-bottom: 0
            min-width:15%
            max-width: 10ch // tweak this value until you see 3 lines
            position: relative
            top: calc(0.65rem - (0.6rem*1.15)) //calculated on p font-sixe to have them aligned on the text base line, if you change font size of the following p please update this

        +media(desktop)
            top: calc(1.9rem - (1.4rem))
            max-width: 10ch // tweak this value until you see 3 lines
            font-size: 1rem

    p, ul
        margin-bottom: .3rem

        +media(tablet-h)
            margin-bottom: .5rem

    ul
        padding-left: 0

    li
        list-style-type: none
        position: relative
        padding-left: 1rem

        &:before
            content: "-"
            position: absolute
            left: 0

    p, ul, li
        @extend .sans-paragraph
        font-size: .7rem

        +media(tablet-h)
            font-size: 1.3rem
        
        +media(desktop)
            font-size: 1.3rem

    a
        text-decoration: underline
        //border-bottom: 1px solid brand-black
        color: brand-black
       


    +media(tablet-h)
        flex-direction: row