#main-home
    background-color: brand-white

    h1
        @extend .sans-logo

    h2
        @extend .serif-home

    h3
        @extend .serif-title

    h4
        @extend .serif-subtitle
        