#main-home
    background-color: green

    h1
        font-family: sans-serif

    +media(tablet-h)
        background-color: yellow

        h1
            font-family: serif

    +media(desktop)
        background-color: blue
        