#main-home
    background-color: brand-white
    @extend .content-margins

    h1
        @extend .sans-logo
        margin-top: 10vh

    h2
        @extend .serif-home

    h3
        @extend .serif-title

    h4
        @extend .serif-subtitle
        