#main-publications
    @extend .content-margins
    margin-top: 10vh

    +media(tablet-h)
        margin-top: 15vh

    .activities-list
        margin-bottom: 2.5rem

        +media(tablet-h)
            margin-bottom: 2.5rem

