#main-workshop
    @extend .content-margins
        
#workshop-introduction
    h1
        @extend .serif-title
        margin-top: 7vh
        margin-bottom: 1rem

        +media(tablet-h)
            margin-top: 10vh

    p
        @extend .serif-subtitle

#workshop-detail
    display: flex
    flex-direction: column

    h2
        @extend .sans-caption
        text-transform: uppercase
        margin-bottom: 0.5rem
        

        +media(tablet-h)
            margin-bottom: 0
            min-width:15%
            position: relative
            top: calc(1rem - (0.6rem*1.15))

        +media(desktop)
            top: calc(2rem - (1.2rem*1.15))

    p
        @extend .serif-paragraph 

    a
        text-decoration: none  
        color: brand-pink     
       


    +media(tablet-h)
        flex-direction: row
