.footer-bar
    background-color: brand-white
    border-top: 1px solid brand-black
    display: block //layout posizionare elementi in riga o colonna
    //justify-content: space-around
    width: 100%
    @extend .content-margins
    padding-top: 1rem
    top: 0
    display: flex
    flex-direction: column
    justify-content: space-around
    gap: 2rem
    padding-bottom: 3rem

    +media(tablet-h)
        height: auto
        display: flex
        flex-direction: row
        gap: 4rem
        padding-bottom: 4rem

    li
        list-style: none
        line-height: 160%
        @extend .serif-caption

    //li:not(:first-child)
        //line-height: 200%
        

    a
        color: brand-black
        //text-decoration: none
        text-align: left
        @extend .serif-caption

    h2
        @extend .serif-captiontitle
        margin-bottom: 1rem

    p
        @extend .serif-caption
        line-height: 160%

#footer-team
    width: 100%

    +media(tablet-h)
        width: 20%

    ul
        padding:0

#footer-citation
    width: 100%

    +media(tablet-h)
        width: 20%

#footer-license
    width: 100%

    +media(tablet-h)
        width: 20%
        
    img
        display: none

        +media(tablet-h)
            display: block
            padding-top: 1 rem

#footer-data-policy
    width: 100%

    +media(tablet-h)
        width: 40%

    img
        //display: none

        +media(tablet-h)            
            display: flex
            flex-direction: row

#footer-logos
    padding-top: 1rem
    display: flex
    flex-direction: row
    justify-content: space-between

    +media(tablet-h)
        justify-content: flex-start

    #footer-supsi-logo
        width: 25%

        +media(tablet-h)
            width 25%
            position: relative

    #footer-spearhead-logo
        width: 30%
        top:0.4rem

        +media(tablet-h)
            width 25%
            left: 1rem
            position: relative
            top:0.7rem

.home-footer
    z-index: 99