.header-bar
  background-color: brand-white
   //per responsive
  //align-items: center
  display: block //layout posizionare elementi in riga o colonna
  justify-content: space-around
  position: fixed //barra fissa in alto
  top: 0
  z-index: 1
  width: 100%
  margin: 0
  padding: 0
  height: 7vh

  +media(tablet-h)
    display: block



.nav-links
    background-color: brand-purple
    position: absolute
    right: 0
    height: 100vh
    top: 7vh
    display: flex
    flex-direction: column
    width: 100%
    transform: translateX(100%)
    padding: 0
    vertical-align: center
    
        
    +media(tablet-h)
        position: relative
        height: 0
        top: margin
        display: flex
        flex-direction: row
        justify-content: none
        transform: translateX(0%)
        width: 70%
    
    a
        color: brand-black
        //margin-left: margin
        text-decoration: none
        text-transform: uppercase
        text-align: left
        width: 100%
        margin-left: margin
        margin-right: margin
        @extend .sans-menu

    li
        list-style: none //pallino elementi lista tolto

.nav-active //trasformazione su js menucell
  transform: translateX(0%)


#hamburger-menu
    display: block //appare
    cursor: pointer
    right: margin
    top: margin
    padding: 0
    position: absolute

    div
        width: 2rem
        height: 0.15rem
        background-color: brand-black
        margin-bottom: 5px

    +media(tablet-h)
        display: none

    
#spearhead
    text-transform: none
    text-align: right

.active-link
    text-decoration: underline