.header-bar
  background-color: brand-white
   //per responsive
  //align-items: center
  display: block //layout posizionare elementi in riga o colonna
  justify-content: space-around
  position: fixed //barra fissa in alto
  top: 0
  z-index: 300
  width: 100%
  margin: 0
  padding: 0
  padding-right: 1rem
  padding-left: 1rem
  height: 6vh




.nav-links
    background-color: brand-white
    position: absolute
    right: 0
    height: 94vh
    top: 6vh
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 100%
    transform: translateX(100%)
    @extend .content-margins
    margin: 0
    vertical-align: center
    
        
    +media(tablet-h)
        position: relative
        height: auto
        top: 1rem
        padding: 0
        display: flex
        flex-direction: row
        justify-content: flex-start // allinea a sinistra
        transform: translateX(0%)
        width: 100% // o 100vw se vuoi tutta larghezza
        gap: 5rem // spaziatura uniforme tra link, più controllabile di margin su <a>
    
    li
            list-style: none
            display: flex
            align-items: center

        li:last-child
            margin-left: auto // questo spinge SPEARHEAD a destra

    a
        color: brand-black
        text-decoration: none
        text-transform: uppercase
        text-align: left
        @extend .sans-menu

.nav-active //trasformazione su js menucell
  transform: translateX(0%)


#hamburger-menu
    display: block
    cursor: pointer
    right: 0.5rem
    top: 0.5rem
    padding: 0
    position: absolute

    div
        width: 2rem
        height: 0.15rem
        background-color: brand-black
        margin-bottom: 5px

    +media(tablet-h)
        display: none

    
#spearhead
    text-transform: none
    text-align: right

.active-link
    text-decoration: underline
    //border-bottom: 1px solid brand-black